node_modules/
*.log

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# JSII
packages/**/tsconfig.json
*.tsbuildinfo
*.js
*.d.ts
.jsii
cdk.out/

# Caching
packages/**/.turbo
